<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
      <title>Depo</title>
  </head>
  <body>
    <h1>Depo Shortcode Index</h1>
    <br>
    <br>
    <h2>Create Shortcode:</h2>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% include 'includes/shortcode-form.html' %}
    {% if shortcode %}
      <p>Your shortcode is: <strong>{{ shortcode.short_id }}</strong></p>
      <p>You can access details at: <a href="./{{ shortcode.short_id }}/details">{{ request.build_absolute_uri }}</a></p>
    {% endif %}
  </body>
</html>
