<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
      <title>Depo</title>
  </head>
  <body>
    <h1>Depo Shortcode Index</h1>
    <br>
    <br>
    <h2>Create Shortcode:</h2>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% include 'includes/shortcode-form.html' %}
    {% if item %}
      <p>Your shortcode is: <strong>{{ item.code }}</strong></p>
      <p>You can access details at: <a href="./{{ item.code }}/details">
        {{ request.build_absolute_uri }}{{ item.code }}/details
      </a></p>
    {% endif %}
  </body>
</html>
