<!-- START core/templates.login.html -->
<!-- TODO: Make this use the base block tempalte and any other relevant templates -->
<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <label>Username: <input type="text" name="username" /></label><br />
      <label>Password: <input type="password" name="password" /></label><br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
<!-- END core/templates.login.html -->
