<!-- templates/item_detail.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Item Detail</title>
</head>
<body>
    <h1>Item Detail</h1>
    <p>Item Type: {{ shortcode.ctype }}</p>

    {% if shortcode.ctype == 'url' %}
        <p>Redirect URL: <a href="{{ shortcode.url }}">{{ shortcode.url }}</a></p>
    {% elif shortcode.ctype == 'image' %}
        <p>Image:</p>
        <img src="{{ shortcode.content_file.url }}" alt="Image Item">
    {% endif %}

    <p>Created At: {{ shortcode.btime }}</p>
    <p>Updated At: {{ shortcode.mtime }}</p>
    <!-- <p>Last Accessed At: {{ item.atime }}</p> -->
</body>
</html>

