<!-- templates/item_detail.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Item Detail</title>
  </head>
  <body>
    <h1>Item Detail</h1>
    <p>Shortcode: {{ item.code }}</p>
    <p>Item Type: {{ item.ctype }}</p>

    {% if item.ctype == 'url' %}
    <p>Redirect URL: <a href="{{ item.url }}">{{ item.url }}</a></p>
    {% elif item.ctype == 'image' %}
    <p>Image:</p>
    <img src="{{ item.url }}" alt="Image Item">
    {% endif %}

    <p>Created At: {{ item.btime }}</p>
    <p>Updated At: {{ item.mtime }}</p>
    <!-- <p>Last Accessed At: {{ item.atime }}</p> -->
  </body>
</html>

