{% extends "info/page.html" %}
{% block copy_content %}
  <!-- BEGIN: info/pic.html#copy_content -->
  <!-- EXTENDS: info/page.html -->
  <button data-copy-url="/{{ item.code }}.{{ item.format | ext }}">Copy Image</button>
  <!-- END: info/pic.html#copy_content -->
{% endblock %}
{% block copy_link %}
  <!-- BEGIN: info/pic.html#copy_link -->
  <!-- EXTENDS: info/page.html -->
  <button
    class="secondary"
    data-copy="{{ request.base_url }}{{ item.code }}.{{ item.format | ext }}"
  >Copy Link</button>
  <!-- END: info/pic.html#copy_link -->
{% endblock %}
{% block payload_class %}payload--pic{% endblock %}
{% block payload %}
    <!-- BEGIN: info/pic.html#payload -->
    <!-- EXTENDS: info/page.html -->
    <img src="/{{ item.code }}.{{ item.format | ext }}">
    <!-- END: info/pic.html#payload -->
{% endblock %}
{% block metadata %}
    <!-- BEGIN: info/pic.html#metadata -->
    <!-- EXTENDS: info/page.html -->
    <dt>Format</dt><dd>{{ item.format }}</dd>
    <dt>Size</dt><dd>{{ item.size_b }} bytes</dd>
    <dt>Dimensions</dt><dd>{{ item.width }}x{{ item.height }}</dd>
    <dt>Uploaded</dt><dd>{{ item.upload_at }}</dd>
    <!-- END: info/pic.html#metadata -->
{% endblock %}
