{% extends "info/page.html" %}
{% block payload_class %}payload--pic{% endblock %}
{% block payload %}
    <!-- BEGIN: info/pic.html#payload -->
    <!-- EXTENDS: info/page.html -->
    <img src="/{{ item.code }}/raw">
    <!-- END: info/pic.html#payload -->
{% endblock %}
{% block metadata %}
    <!-- BEGIN: info/pic.html#metadata -->
    <!-- EXTENDS: info/page.html -->
    <dt>Format</dt><dd>{{ item.format }}</dd>
    <dt>Size</dt><dd>{{ item.size_b }} bytes</dd>
    <dt>Dimensions</dt><dd>{{ item.width }}x{{ item.height }}</dd>
    <dt>Uploaded</dt><dd>{{ item.upload_at }}</dd>
    <!-- END: info/pic.html#metadata -->
{% endblock %}
