{% extends "info/page.html" %}
{% block payload_class %}payload--text{% endblock %}
{% block payload %}
  <!-- BEGIN: info/text.html#payload -->
  <pre><code>
    {{ content }}
  </code></pre>
  <!-- END: info/text.html#payload -->
{% endblock %}
{% block metadata %}
    <!-- BEGIN: info/text.html#metadata -->
    <dt>Format</dt><dd>{{ item.format }}</dd>
    <dt>Size</dt><dd>{{ item.size_b }} bytes</dd>
    <dt>Uploaded</dt><dd>{{ item.upload_at }}</dd>
    <!-- END: info/text.html#metadata -->
{% endblock %}
